{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <a href="{% url 'see_blog' %}" class="btn btn-warning mb-5 ml-1"><b>View Your Blogs</b></a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter Blog Title</label>
                <input type="text" value="{{blog_obj.title}}" class="form-control" placeholder="Enter title" name="title">
            </div>
            <div class="col-md-12">
                {{form.media}}
               {{form.as_p}}
            </div>
            <div class="col-md-12">
                <input type="file" name="image" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Create Blog</buttton>
    </form>
</div>

{% endblock %}
